.app {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.wrapper {
    max-width: 1000px;
    margin: 0 auto;
}

.login, .account {
    margin: 150px auto;
    width: 300px;
}

.login input{
    display: block;
    margin: 20px auto;
}
.noacc {
    margin: 0 auto;
}
.setting {
    display: flex;
}
.setting input {
    margin-right: 20px;
    margin-bottom: 20px;
}
.name {
    padding: 10px 0;
}